# Database connection string
DATABASE_URL=mongodb://127.0.0.1/your-database-name

# Or use a PG connection string
#DATABASE_URL=postgresql://127.0.0.1:5432/your-database-name
# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_PAYLOAD_SECRET_HERE
# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
# Secret used to authenticate cron jobs
CRON_SECRET=YOUR_CRON_SECRET_HERE
# Used to validate preview requests
PREVIEW_SECRET=YOUR_PREVIEW_SECRET_HERE
# S3 / MinIO
S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY_ID=admin
S3_SECRET_ACCESS_KEY=password
S3_BUCKET=data
S3_REGION=us-east-1

# SMTP / MailDev
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=username
SMTP_PASS=password
SMTP_FROM_ADDRESS=noreply@localhost
SMTP_FROM_NAME=Portfolio

# Added by Payload
# Payload admin email and password
PAYLOAD_EMAIL=your@email.com
PAYLOAD_PASSWORD=yourpassword